<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comments-user-date">
            <span class="username-comments">{{user.username}}</span> <span class="comments-date-span">on {{format_date created_at}}</span>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>