<section class="create-post-section">
    <h2 class="dashboard-title">Create New Post</h2>

    <form class="new-post-form">
        <div class="new-title-wrapper">
            <label for="post-title" class="new-title-label">Title</label>
            <input type="text" id="post-title" name="post-title" class="new-title-input" />
        </div>
        <div class="new-body-wrapper">
            <label for="post-body" class="new-body-label">Body</label>
            <input id="post-body" name="post-body" class="new-body-input" />
        </div>
        <button tpye="submit" class="btn">Create</button>
    </form>
</section>

{{!-- wrapped entire section in an if so users will not see this if they have no posts --}}
{{#if posts.length}}
<section class="dashboard-posts-wrapper">
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>